<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">
    <h2>Profesores</h2>
    <p>Los profesores son los siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">DNI</th>
                <th scope="col">Name</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Categoría</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professorsList}">
                <td th:text="${professor.id}"> Id</td>
                <td th:text="${professor.dni}"> DNI</td>
                <td th:text="${professor.name}"> Name</td>
                <td th:text="${professor.surname}"> Apellidos</td>
                <td th:text="${professor.category}"> Categoría</td>
                <td><a th:href="${'/professor/details/' + professor.id}">detalles</a></td>
                <td><a th:href="${'/professor/edit/' + professor.id}">modificar</a></td>
                <td><a th:href="${'/professor/delete/' + professor.id}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
	<div th:if="${#lists.isEmpty(professorsList)}"> No hay profesores </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
